// app global css

@font-face  
  font-family Lato
  src url(./fonts/Lato.ttf)

@font-face  
  font-family Arimo
  src url(./fonts/Arimo.ttf)

@font-face  
  font-family hans
  src url(./fonts/hans.otf) 

// declare a class which applies it
.card-title
  font-family 'Arimo'



 